*{
    margin: 0;
    padding: 0;
    text-decoration: none;
}
header, nav, nav a{
    display: flex;
    align-items: center;
}
header{
    background-color: rgb(235, 235, 235);
    height: 52px;
    justify-content: center;
}
nav{
    width: 60%;
    height: 100%;
    justify-content: space-around;
}
nav a{
    color: black;
    background-color: rgb(224, 223, 222);
    width: 20%;
    height: 100%;
    justify-content: center;
    transition: all .2s;
}
nav a:hover{
    letter-spacing: 2px;
    background-color: rgb(66, 66, 66);
    color: white;
}